<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mapper.UserBaseInfoMapper">

    <!--resources mapper.xml存放目录要与java接口mapper一致-->

    <!--映射收货地址字段 17-->
    <resultMap id="AddressInfoMap" type="com.example.domain.UserAddressInfo">
        <id column="id" property="id"/>
        <result column="address_id" property="addressId"/>
        <result column="user_id" property="userId"/>
        <result column="channel_id" property="channelId"/>
        <result column="channel_user_id" property="channelUserId"/>
        <result column="name" property="name"/>
        <result column="mobile" property="mobile"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="street" property="street"/>
        <result column="address" property="address"/>
        <result column="address_tag" property="addressTag"/>
        <result column="is_default" property="isDefault"/>
        <result column="is_delete" property="isDelete"/>
<!--        <result column="create_time" property="creatTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
    </resultMap>

    <select id="queryUserAddressInfo"  parameterType="java.lang.String" resultMap="AddressInfoMap">
        select * from user_receive_address where channel_user_id=#{channel_user_id}
    </select>

    <!--映射支付宝中心字段 21-->
    <resultMap id="UserAliPayInfoMap" type="com.example.domain.UserAliPayInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="channel_id" property="channelId"/>
        <result column="channel_user_id" property="channelUserId"/>
        <result column="alipay_user_id" property="alipayUserId"/>
        <result column="alipay_realname" property="alipayRealName"/>
        <result column="alipay_account" property="alipayAccount"/>
        <result column="nick_name" property="nickName"/>
        <result column="head_img" property="headImg"/>
        <result column="identity_card" property="identityCard"/>
        <result column="sex" property="sex"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="status" property="status"/>
        <result column="is_certified" property="isCertified"/>
        <result column="is_delete" property="isDelete"/>
        <result column="is_student_certified" property="isStudentCertified"/>
        <result column="user_type" property="userType"/>
        <result column="user_status" property="userStatus"/>
<!--        <result column="create_time" property="creatTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
    </resultMap>

    <select id="queryAliPayInfo"  parameterType="java.lang.String" resultMap="UserAliPayInfoMap">
        select * from user_alipay_auth_info where channel_user_id=#{channel_user_id}
    </select>

    <!--映射用户中心字段 19-->
    <resultMap id="UserBaseInfoMap" type="com.example.domain.UserBaseInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="channel_id" property="channelId"/>
        <result column="channel_user_id" property="channelUserId"/>
        <result column="nick_name" property="nickName"/>
        <result column="real_name" property="realName"/>
        <result column="mobile_area_code" property="mobileAreaCode"/>
        <result column="mobile" property="mobile"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="head_img" property="headImg"/>
        <result column="identity_card" property="identityCard"/>
        <result column="user_role" property="userRole"/>
        <result column="source" property="source"/>
        <result column="register_recommend_user_id" property="registerRecommendUserId"/>
        <result column="user_status" property="userStatus"/>
        <result column="is_delete" property="isDelete"/>
        <result column="status" property="status"/>
        <result column="create_time" property="creatTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryUserBaseInfo" parameterType="java.lang.String" resultMap="UserBaseInfoMap">
         select * from user_base_info where channel_user_id=#{channel_user_id}
    </select>

    <!--映射花生日记用户中心字段-->
    <resultMap id="HsrjUserInfoMap" type="com.example.domain.HsrjUserInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="channel_user_id" property="channelUserId"/>
        <result column="push_no" property="pushNo"/>
        <result column="user_tag_status" property="userTagStatus"/>
    </resultMap>
    <select id="queryHsrjUserInfo" parameterType="java.lang.String" resultMap="HsrjUserInfoMap">
         select * from hsrj_user_info where channel_user_id=#{channelUserId}
    </select>


    <!--映射微信中心 17-->
    <resultMap id="UserWeChatInfoMap" type="com.example.domain.UserWeChatInfo">
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="user_id" property="userId"/>
        <result column="channel_user_id" property="channelUserId"/>
        <result column="channel_id" property="channelId"/>
        <result column="open_id" property="openId"/>
        <result column="union_id" property="unionId"/>
        <result column="wx_no" property="wxNo"/>
        <result column="nick_name" property="nickName"/>
        <result column="sex" property="sex"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="country" property="country"/>
        <result column="head_img" property="headImg"/>
        <result column="is_delete" property="isDelete"/>
<!--        <result column="create_time" property="creatTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
    </resultMap>

    <select id="queryWeChatInfo"  parameterType="java.lang.String" resultMap="UserWeChatInfoMap">
        select * from user_weixin_auth_info where channel_user_id=#{channel_user_id}
    </select>

    <!--映射用户登录-->
    <resultMap id="UserLoginInfoMap" type="com.example.domain.UserLoginInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="channel_user_id" property="channelId"/>
        <result column="channel_id" property="channelUserId"/>
        <result column="login_name" property="loginName"/>
        <result column="login_pwd" property="loginPwd"/>
        <result column="last_login_time" property="loginSalt"/>
        <result column="is_delete" property="isDelete"/>
<!--        <result column="update_time" property="updateTime"/>-->
<!--        <result column="creat_Time" property="creatTime"/>-->
    </resultMap>

    <select id="queryUserLoginInfo"  parameterType="java.lang.String" resultMap="UserLoginInfoMap">
        select * from user_login_info where channel_user_id=#{channel_user_id}
    </select>


    <!--映射淘宝授权-->
    <resultMap id="UserTaobaoInfoMap" type="com.example.domain.UserTaobaoInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="channel_user_id" property="channelUserId"/>
        <result column="relation_id" property="relationId"/>
        <result column="special_id" property="specialId"/>
        <result column="company_id" property="companyId"/>
        <result column="tb_account_id" property="tbAccountId"/>
        <result column="tb_account" property="tbAccount"/>
        <result column="is_delete" property="isDelete"/>
        <!--<result column="create_time" property="creatTime"/>-->
        <!--<result column="update_time" property="updateTime"/>-->
    </resultMap>

    <select id="queryUserTaobaoInfo"  parameterType="java.lang.String" resultMap="UserTaobaoInfoMap">
        select * from hsrj_user_taobao_auth_info where channel_user_id=#{channel_user_id}
    </select>

</mapper>